# Logs
logs
*.log
npm-debug.log*
firebase-debug.log*
firebase-debug.*.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Caches
buildcache/
.eslintcache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other
node_modules
dist
dist-ssr
*.local
