@font-face {
  font-family: 'Roboto';
  src: local('JetBrainsMono Regular'), local('JetBrainsMono-Regular'), url('./assets/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('./assets/fonts/JetBrainsMono-Regular.ttf') format('embedded-opentype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

:root {
  --base-font-size: 1.5rem;
  --font-size-xs: 0.5rem;
  --font-size-s: 0.7rem;
  --font-size-m: 1rem;
  --font-size-l: 2rem;
  --font-size-xl: 3rem;
  --font-weight-bold: bold;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --line-height: 1.4;

  font-family: 'JetBrains Mono', monospace;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
