:root {
  --ease-out-quad: cubic-bezier(0, 0.5, 0.5, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.345, 1.25);
  --ease-in-out-quint: cubic-bezier(0.35, 0, 0.25, 1);
  --ease-in-out: ease-in-out;
}
