:host {
  width: 100%;
}
a {
  text-decoration: none;
}
summary,
.project__picture__description {
  color: var(--brand);
  user-select: none;
  cursor: pointer;
  opacity: 80%;
  transition: opacity var(--default-duration) var(--ease-in-out-quint);
}
h3 {
  margin: 0;
  display: inline-block;
  padding-left: var(--spacing-s);
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.summary-wrapper {
  display: inline;
}
.technologies-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--spacing-m) 0 0 var(--spacing-xl);
}
.technology {
  padding: var(--spacing-m) var(--spacing-s);
}
summary:hover,
details[open] summary,
.project__picture__description {
  opacity: 100%;
}
.project__info {
  padding-left: var(--spacing-l);
}
.project__picture__description {
  text-align: center;
  font-weight: bold;
}
.picture-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project__picture {
  max-width: 100%;
  padding-bottom: var(--spacing-m);
}

@media (min-width: 1350px) {
  .project__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
  .project__additional-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
